@font-face {
  font-family: "Lisnoti";
  src:
    url('fonts/Lisnoti.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/Lisnoti.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/Lisnoti.ttf')  format('truetype'), /* Safari, Android, iOS */
    /* url('fonts/Lisnoti.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: "Lisnoti";
  src: url("fonts/Lisnoti-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Lisnoti";
  src: url("fonts/Lisnoti-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Lisnoti";
  src: url("fonts/Lisnoti-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

:root {
  /* Precise Teal */
  --md-primary-fg-color:        #00A0C0;
  --md-primary-fg-color--light: #00C1EE;
  --md-primary-fg-color--dark:  #0080A0;

  /* Use Lisnoti font */
  --md-text-font: "Lisnoti"; 
  --md-code-font: "Lisnoti";
}

::selection {
  color: #000;
  background: #FFE500;
}

/* Fix scroll bars appearing on math blocks */
.md-typeset div.arithmatex {
    overflow: initial;
  }